In [1]:
import pandas as pd

In [3]:
cleaned_movies = pd.read_csv('cleaned_data/cleaned_movies.csv')
cleaned_ratings = pd.read_csv('cleaned_data/cleaned_ratings.csv')

In [4]:
cleaned_ratings.head()

   userId  movieId  rating            timestamp  rating_normalized  year
0       1        1     4.0  2000-07-30 18:45:03           0.449228  2000
1       1        3     4.0  2000-07-30 18:20:47           0.449228  2000
2       1        6     4.0  2000-07-30 18:37:04           0.449228  2000
3       1       47     5.0  2000-07-30 19:03:35           1.420236  2000
4       1       50     5.0  2000-07-30 18:48:51           1.420236  2000

In [5]:
print(max(cleaned_ratings['timestamp']))
print(min(cleaned_ratings['timestamp']))

2018-09-24 14:27:30
1996-03-29 18:36:55

In [6]:
ratings_sorted = cleaned_ratings.sort_values(by=['userId', 'timestamp'])

In [7]:
train_list = []
test_list = []

validation_split = 0.2

for user_id, user_data in ratings_sorted.groupby('userId'):

    split_index = int(len(user_data) * (1 - validation_split))
    
    train_data = user_data.iloc[:split_index]
    test_data = user_data.iloc[split_index:]
    
    train_list.append(train_data)
    test_list.append(test_data)

train_data = pd.concat(train_list)
test_data = pd.concat(test_list)

print(f"size train: {len(train_data)}")
print(f"size val: {len(test_data)}")

size train: 71971
size val: 18303

In [8]:
train_data = train_data.drop(['timestamp', 'year'],axis=1)
test_data = test_data.drop(['timestamp', 'year'],axis=1)

In [9]:
train_data.to_csv('train_data.csv', index=False)
test_data.to_csv('test_data.csv', index=False)